/**** HOME PAGE ****/

.home {
    width: 100%;
    height: 98vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-image: url(img/mdIconGray.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
}

.home div {
    backdrop-filter: blur(7px);
    drop-shadow: 3px 3px 5px #000000;
    margin: 0;
    padding: 5px;
}

/**** NAV ****/

a.nav {
    z-index: 9;
    position: fixed;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

#arrow-up {
    background-image: url(img/ArrowUp.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 30px;
    padding-top: 20px;
    width: 200px;
    top: 15px;
    left: calc(50% - 100px);
}

#arrow-down {
    background-image: url(img/ArrowDown.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 30px;
    padding-bottom: 20px;
    width: 200px;
    bottom: 15px;
    left: calc(50% - 100px);
}

#arrow-right {
    background-image: url(img/ArrowRight.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
    height: 30px;
    padding-right: 20px;
    right: 15px;
    top: calc(50% - 15px);
}

#arrow-left {
    background-image: url(img/ArrowLeft.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    height: 30px;
    padding-left: 20px;
    left: 15px;
    top: calc(50% - 15px);
}

#arrow-ul{
    background-image: url(img/ArrowUL.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    left: 15px;
    top: 15px;
}

#arrow-dl{
    background-image: url(img/ArrowDL.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 30px;
    height: 50px;
    padding-left: 15px;
    padding-bottom: 10px;
    left: 15px;
    bottom: 15px;
}

#arrow-ur{
    background-image: url(img/ArrowUR.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30px;
    height: 50px;
    padding-right: 15px;
    padding-top: 10px;
    right: 15px;
    top: 15px;
}

#arrow-dr{
    background-image: url(img/ArrowDR.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30px;
    height: 50px;
    padding-right: 15px;
    padding-bottom: 10px;
    right: 15px;
    bottom: 15px;
}


/**** GENERAL ****/

h1 {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 5rem;
    margin: 10px;
    text-align: center;
}
h2 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 2rem;
    margin: 10px;
}
h3{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 20px;
    color: #555555;
    text-transform: lowercase;
}
h4{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 20px;
    color: #777777;
}
p {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**** PRINCIPLES PAGE ****/

.md-chart {
    width: 100%;
    height: 98vh;
    display: flex;
    align-content: center;
    justify-content: center;
   /* width: 100%;
    max-width: 170vh;
    margin-top: calc(50vh - 25vw);
    margin-left: calc(50vw - 85vh); */
}

.md-chart svg {
    max-width: 100%;
    max-height: 100%;
}

.md-chart .aff-btn, .md-chart .vir-btn {
    cursor: pointer;
}

#chart-overlay {
    position: fixed;
    z-index: 99;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: stretch;
    pointer-events: none;
}

#chart-overlay > div {
    overflow: hidden;
    backdrop-filter: blur(7px);
    background-color: rgba(250,250,250,.8);
    box-shadow: 0px 2px 20px rgba(0,0,0,.2);
    margin: 30px;
    justify-self: center;
    pointer-events: none;
    border-radius: 8px;
}

#chart-overlay .content, .close-btn {
    pointer-events: all;
}


#chart-overlay div.content {
    overflow: scroll;
    max-height: 80%;
}

.aff-btns::hover, .vir-btns::hover {
    cursor: pointer;
    fill: #000000;
}

#chart-overlay .close-btn {
    display: block;
    float: right;
    padding: 3px;
    background-color: #333;
    color: #fff;
}

#affordance-col, #virtue-col, #principle-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: visible;
}

.affordance-content, .virtue-content, .principle-content {
    overflow-y: scroll;
    pointer-events: all;
    max-height: 80vh;
    text-align: left;
    overflow-x: visible;
}

#principle-title {
    text-transform: uppercase;
}

.info.icon {
    position: relative;
    overflow: visible;
    pointer-events: all;
}

.info.icon::after {
    content: "The four affordances are taken from the work of digital media scholar Janet Murray. Together, they describe the unique qualities and experience of digital media, as well as the areas where it has the most potential for growth. Here, they're being used as a broad list of considerations for what  software is doing, so that we can evaluate whether it is doing those things well.";
    position: absolute;
    overflow: visible;
    top: 30px;
    left: 0;
    background: #ffffff;
    box-shadow: 0 3px 10px #cccccc;
    padding: 10px;
    visibility: hidden;
}

#virtue-col .info.icon::after {
    content: "Why these four virtues? UX is centered around the idea that software affects people. Modest Design layers that idea with a moral claim: good software must be good for the user; i.e. it must provide them some value without being detrimental to their wellbeing. There is a fine line between influence and manipulation, and we  must actively push back against manipulative design patterns if we want to produce software objects that truly help their users. These virtues don't dictate the kind of help your software will provide, but they do help you evaluate the quality of that help.";
}
.info.icon:hover::after {
    display: block;
    visibility: visible;
}


/* ABOUT PAGE */
.about h1 {
    font-size: 36px;
    font-weight: 300;
}
.about-card {
    display: flex;
    max-width: 1200px;
    height: 80vh;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    border-radius: 20px;
    margin: auto;
}

.about p {
    font-family: "Poppins";
    font-size: 18px;
}

.about .left-column {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.about .right-column {
    width: 70%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 50px #cccccc;
    overflow-y: auto;
}

.about-heading {
    cursor: pointer;
    background-color: #ffffff;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #cccccc;
    border-radius: 30px 0 0 30px;
    box-shadow: -5px 5px 20px #cccccc;
    flex-grow: 1;
}

.about-heading h2 {
    font-size: 28px;
    font-weight: 300;
}

.about-heading h2, .about-heading h3 {
    margin: 0;
}

.about-heading:last-child {
    border: none;
}
.about-content {
    display: none;
}

.about-content.active {
    display: block;
}

.about-heading.active {
    background-color: #888888;
    color: #ffffff;
    border: none;
    box-shadow: inset 0 0 20px #555555;
}

.about-heading.active h3 {
    color: #dddddd;
}

/**** CHECKLIST ****/

body {
    margin: 0;
}

main.checklist {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.checklist .questionnaire {
    padding: 45px;
    max-width: 900px;
}
.checklist .col {
    position: sticky;
    flex-grow: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding-top: 45px;
    width: 600px;
    text-align: center;
    background-color: #eeeeee;
    height: 100vh;
}

.checklist h3 {
    font-weight: 400;
    text-transform: uppercase;
}

.checklist h4 {
    font-weight: 300;
    margin-bottom: 0;
}

.checklist p, .checklist label {
    font-family: "Poppins", sans-serif;
    color: #777777;
}

.checklist input {
    margin-left: calc(50% - 8px);
}

.checklist .options {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.checklist label {
    width: 20%;
    display: block;
    text-align: center;

}