.home {
    width: 100%;
    height: 98vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-image: url(img/mdIconGray.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
}

.home div {
    backdrop-filter: blur(7px);
    drop-shadow: 3px 3px 5px #000000;
    margin: 0;
    padding: 5px;
}

a.nav {
    z-index: 9;
    position: fixed;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

#arrow-up {
    background-image: url(img/ArrowUp.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 30px;
    padding-top: 20px;
    width: 200px;
    top: 15px;
    left: calc(50% - 100px);
}

#arrow-down {
    background-image: url(img/ArrowDown.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 30px;
    padding-bottom: 20px;
    width: 200px;
    bottom: 15px;
    left: calc(50% - 100px);
}

#arrow-right {
    background-image: url(img/ArrowRight.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
    height: 30px;
    padding-right: 20px;
    right: 15px;
    top: calc(50% - 15px);
}

#arrow-left {
    background-image: url(img/ArrowLeft.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    height: 30px;
    padding-left: 20px;
    left: 15px;
    top: calc(50% - 15px);
}

#arrow-ul{
    background-image: url(img/ArrowUL.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    left: 15px;
    top: 15px;
}

#arrow-dl{
    background-image: url(img/ArrowDL.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 30px;
    height: 50px;
    padding-left: 15px;
    padding-bottom: 10px;
    left: 15px;
    bottom: 15px;
}

#arrow-ur{
    background-image: url(img/ArrowUR.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30px;
    height: 50px;
    padding-right: 15px;
    padding-top: 10px;
    right: 15px;
    top: 15px;
}

#arrow-dr{
    background-image: url(img/ArrowDR.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30px;
    height: 50px;
    padding-right: 15px;
    padding-bottom: 10px;
    right: 15px;
    bottom: 15px;
}

h1 {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 5rem;
    margin: 10px;
}
h2 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 2rem;
    margin: 10px;
}
p {
    padding: 10px;
}
.md-chart {
    width: 100%;
    height: 98vh;
    display: flex;
    align-content: center;
    justify-content: center;
   /* width: 100%;
    max-width: 170vh;
    margin-top: calc(50vh - 25vw);
    margin-left: calc(50vw - 85vh); */
}

.md-chart svg {
    max-width: 100%;
    max-height: 100%;
}

.md-chart .aff-btn, .md-chart .vir-btn {
    cursor: pointer;
}

#chart-overlay {
    position: fixed;
    z-index: 99;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: stretch;
    pointer-events: none;
}

#chart-overlay > div {
    overflow: hidden;
    backdrop-filter: blur(7px);
    background-color: rgba(250,250,250,.8);
    box-shadow: 0px 2px 20px rgba(0,0,0,.2);
    margin: 30px;
    justify-self: center;
    pointer-events: none;
    border-radius: 8px;
}

#chart-overlay .content, .close-btn {
    pointer-events: all;
}


#chart-overlay div.content {
    overflow: scroll;
    max-height: 80%;
}

.aff-btns::hover, .vir-btns::hover {
    cursor: pointer;
    fill: #000000;
}

#chart-overlay .close-btn {
    display: block;
    float: right;
    padding: 3px;
    background-color: #333;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#affordance-col, #virtue-col, #principle-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.affordance-content, .virtue-content, .principle-content {
    overflow-y: scroll;
    pointer-events: all;
    max-height: 80vh;
    text-align: left;
}

#principle-title {
    text-transform: uppercase;
}